body {
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: GhostWhite;
}

#wrapper {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

header {
  text-align: left;
  margin: 20px 0;
  position: relative;
}

header img {
  width: 100%;
  max-width: 200px;
}

header h1 {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 10px;
  font-weight: bold;
  font-size: 1.5rem;
}

#player {
  position: relative;
}

#error {
  display: none;
  background-color: #ffaeae;
  padding: 10px;
  margin: 15px 20px 0;
}

#cueForm, #cueList {
  margin: 20px;
  text-align: center;
}
#cueForm:after {
  content: "";
  display: table;
  clear: both;
}

#cueInput {
  box-sizing: border-box;
  width: 80%;
  margin: 0 10px 0 0;
  padding: 8px;
  display: block;
  min-height: 55px;
  float: left;
  resize: none;
  font-size: 1rem;
}

#cueSubmit {
  box-sizing: border-box;
  width: 18%;
  display: block;
  color: white;
  font-size: 1rem;
  border: none;
  height: 55px;
  background-color: #00adef;
  float: right;
  padding: 0;
}

#cueList h2 {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.cueListItem {
  display: block;
  margin-bottom: 10px;
}

.cueListItemTime, .cueListItemDelete {
  display: inline-block;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  font-size: 12px;
  margin: 3px;
}
.cueListItemTime:hover, .cueListItemDelete:hover {
  text-decoration: underline;
  cursor: pointer;
}

.cueListItemText, #cue {
  display: inline-block;
  color: #fff;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  text-rendering: optimizeLegibility;
  background-color: rgba(23, 35, 34, .75);
  border-radius: 5px;
  padding: .4em .5em;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  max-width: 500px;
  text-align: left;
}

#noCues {
  line-height: 1.2em;
}

#cue {
  display: none;
  top: 10px;
  left: 10px;
  position: absolute;
}

/* blue: #00adef */
