body {
  font-family: 'Open Sans', sans-serif;
  background-color: GhostWhite;
}

#wrapper {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

#player {
  position: relative;
}

#cue {
  display: none;
  color: #fff;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 18px;
  text-rendering: optimizeLegibility;
  background-color: rgba(23, 35, 34, 0.5);
  border-radius: 5px;
  padding: .4em .5em;
  margin: 10px;
  top: 0;
  left: 0;
  position: absolute;
  -webkit-font-smoothing: antialiased;
}

#cueList {
  text-align: left;
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
}

.cueListItem {
  display: block;
  margin: 10px 0;
}

.cueListItemTime {
}
.cueListItemDelete {
}
.cueListItemText {
}

/* blue: #00adef */
